@font-face {
    font-family: NbInternational;
    src: url(Fonts/NBInternationalProBoo.ttf);
}
@font-face {
    font-family: rejouice;
    src: url(Fonts/Rejouice-Headline.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: NbInternational;
    cursor: default;
}
html, body{
    width: 100%;
    height: 100%;
}
#page1{
    width: 100%;
    height: 100vh;
    background: #101010;
    position: relative;
}
#orange_cursor{
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 50%;
    background: #FF5F38;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    transform: translate(-50%, -50%);
    h3{
        font-weight: 500;
    }
}
#page1 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
#page1_content{
    width: 100%;
    height: 100%;
    background: #0000001c;
    color: white;
    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#page1_content nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 2.8vw;
}
nav h2{
    font-size: 1.4vw;
    font-weight: 500;
    cursor: pointer;
}
nav h2:nth-child(2){
    display: flex;
    flex-direction: column;
    span{
        width: 0%;
        height: 0.15vh;
        background: #fff;
        transition: all 0.4s;
    }
}
nav h2:nth-child(2):hover span{
    width: 100%;
}
#page1_content h1 {
    line-height: 32vh;

}
#page1_content h1 span{
    font-size: 27vw;
    font-weight: 500;
    font-family: rejouice;
}
#page2{
    width: 100%;
    height: 100vh;
    position: relative;
    background: #faf8f3;
    padding: 5vw 2.8vw;
}
#page2_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.2vw;
    margin-bottom: 1vw;
    border-bottom: 1px solid #00000092;
    overflow: hidden;
}
#page2_top h3{
    font-size: 1.7vw;
    font-weight: 500;
    width: 26%;
}
#page2_top h4{
    font-size: 1.7vw;
    font-weight: 500;
}
.elem{
    overflow: hidden;
}
.elem h1{
    font-size: 4.2vw;
    font-weight: 500;
}